<footer id="sticky-footer" class="flex-shrink-0  bg-dark text-white-50">
    <br>
    <div class="container">
          <ul class="list-group list-group-horizontal-sm bg-dark">
            <li class="list-group-item bg-dark text-white-50">
                <small>Copyright &copy; Jean Station</small>
            </li>
            <li class="list-group-item bg-dark text-white-50">
                <small>Address: 10th Cross Road, Mumbai,<br> Maharashtra 400050
                </small>
            </li>
            <li class="list-group-item bg-dark text-white-50">
                
                <small>About Us
                </small>
            </li>
            <li class="list-group-item bg-dark text-white-50">
                <small>My Profile
                </small>
            </li>
            <li class="list-group-item bg-dark text-white-50">
                <small>Sign Out
                </small>
            </li>
          </ul>
         
         
          
    </div>
</footer>