.head{
    height:10vh;
    width:100vw;
    background-color: orangered;
    margin: auto;
}
img{
    padding-top:2vh ;
    height: 75vh;
    width:350px ;
}
.Product{
    margin: auto;
    display:flex;

}
.Detail{
    padding-left:25px; 
    
   
}

.item-show{
    margin: 0%;
    /*display: flex;*/
    flex-wrap: wrap;
    width:100vw;
}
