<div class ="row">
    
<div class="container item-show col-sm-12 col-md-4">
    <div class="head">
        <h1>Item</h1>
    </div>
    <div class="Product">       

        <img src="..//..//assets/img/tshirt.jpg">
    
      <div class="Detail">
          <h3>PUMA Tshirt</h3>
          <h2>$ 558</h2>
          <h3 style = color:green;>45% off</h3>
          
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Size
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">M</a></li>
              <li><a class="dropdown-item" href="#">L</a></li>
              <li><a class="dropdown-item" href="#">XL</a></li>
            </ul>
          </div> 
          <div>
              <h4>Colors</h4>
              <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" >
              <label class="btn btn-warning" for="option1">Red</label>

              <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
              <label class="btn btn-info" for="option2">Blue</label>
             

               <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" >
              <label class="btn btn-secondary" for="option3">Black</label>

               <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
               <label class="btn btn-success" for="option4">Green</label>
          </div>
       
         <div>
             <h2>Product Details </h2>
            
                    
                    <div style ="display: inline;">
                         <p>Fabtric   : Cotton Printed</p>
                         <p>Pattern   : Printed</p>
                         <p>Ideal for : Men </p>
                         <p>Sleeve    : Half Sleeve</p>
                    </div>
                    
                
        </div>
          <div class="description" >
              <h2>Description</h2>
            <p>Puma presents to you a new range of stylish and cool new Tshirts yet which are 
                affordable for everyone.It is perfect for your summer attire.
            </p>
          </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger">ADD TO CART</button>
    <button type="button" class="btn btn-success">BUY NOW</button> 
    
</div>

</div>
