<div class="container item-show">
    <div class="head">
        <h1>Item</h1>
    </div>
    <div class="Product">       

        <img src="..//..//assets/img/tshirt.jpg">
    
      <div class="Detail">
          <p>PUMA Tshirt</p>
          <h2>$ 558</h2>
          <h3>45% off</h3>
          
         
       
         <div>
             <h2>Product Details </h2>
            
                    
                    <div style ="display: inline;">
                         <p>Fabtric   : Cotton Printed</p>
                         <p>Pattern   : Printed</p>
                         <p>Ideal for : Men </p>
                         <p>Sleeve    : Half Sleeve</p>
                    </div>
                    
                
        </div>
          <div class="description" >
              <h2>Description</h2>
            <p>Puma presents to you a new range of stylish and cool new Tshirts yet which are 
                affordable for everyone.It is perfect for your summer attire.
            </p>
          </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-success">Success</button> 
    
</div>

