.head{
    height:10vh;
    width:100vw;
    background-color: orangered;
    margin: auto;
}
img{
    padding-top:2vh ;
    height: 65vh;
    width:350px ;
}
.Product-show{
    margin: auto;
    display:flex;

}
.Detail{
    padding-left:25px; 
    display: inline;
   
}

