
<div class="container">
    <div class="row logo-row" style="padding-top:3vh;">
        <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
            <img src="../../../assets/img/logo.png" alt="logo" class="logo">
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding-top:3vh;">
        <div class="col-12 col-md-8 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <form class="p-1 d-flex flex-column justify-content-center">
                        <div class="form-group p-1">
                          <label for="exampleInputEmail1" class="p-2">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group p-1">
                          <label for="exampleInputPassword1" class="p-2">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" style="width: 100px; margin: auto;">Log In</button>
                    </form>
                </div>
              </div>
        </div>
        <div class="row " style="padding-top:3vh;">
            <button type="submit" class="btn btn-outline-secondary" style="width:max-content; margin: auto;">Create an account</button>

        </div>

    </div>

</div>
