header{
    background-color: cadetblue;
}

.image{
    height: 300px;
    width: 300px;
}
.product-title{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
   
}
.product-price{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
}
.product-quantity{
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
    
}
.product-totprice{
    display: inline;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
    
    
} 
.quantity{
    display: inline;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
}
.remove{
    align-items: center;
    justify-content: center;
}
.card{
    align-items: center;
    align-content: flex-end;
    justify-content: center;
    
    
}
.totals-value{
    display: inline;
}
