<header class="container">
   <div class="row">
       <div class="col-12 col-md-4">
         <!-- <button>Back</button> -->
         <h1 class="d-flex justify-content-center">MY CART</h1>
       </div>
    </div>
</header>
<br>
<div *ngFor="let item of products;let i=index">
<div class="container">
  <div class="row">
    <div class="image col-12 col-md-4 d-flex justify-content-center">
      <img src="{{item.image}}">
    </div>
    <div class="col-12 col-md-8 d-flex align-items-center">
      <div class="col-4">
     <div class="product-title">{{item.name}}</div>
     <div class="product-price">{{item.price}}</div>
       <div class="quantity">Quantity:</div>
     <input type="number" value="{item.quantity}}" min="1">
     <div class="product-totprice">Total:</div>
     <div class="product-totprice">{{item.totals}}</div>
        <button (click)="RemoveItem(item)" class=" btn btn-danger">Remove</button>
        <button (click)="Emptycart()"class="btn btn-danger">Empty Cart</button>
       <br>
    </div>
  </div>
</div>
</div>
<br>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 d-flex justify-content-center">
        <div class="card"style="width:30em;">
          <div class="totals">
            <div class="totals-item">
              <label>Shipping:</label>
              <div class="totals-value" id="cart-shipping">Rs. 15.00</div>
            </div>
            <div class="totals-item totals-item-total">
              <label>Grand Total:</label>
              <div class="totals-value" id="cart-total">Rs. {{Total}}</div>
            </div>
          </div>     
              <button class="btn btn-primary">Buy Now</button>
        </div>
        <div class="center"><h5>Your Cart is Empty</h5></div>
      </div>
    </div>
  </div>
</div>