<app-header></app-header>
<h1 style="margin: auto;">
  My Cart
</h1>
<!-- <div class="container">
  <div class="row">
      <div class="col-12 col-md-4">
        <h1 class="d-flex justify-content-center">MY CART</h1>
      </div>
   </div>
  </div>
<br>

<ng-container *ngIf="cartItems.length !=0">
 <div class="card-table">
<div *ngFor="let item of cartItems;let i=index">
<div class="container">
 <div class="row">
   <div class="image col-12 col-md-4 d-flex justify-content-center">
     <img src="{{item.imageUrl}}">
   </div>
   <div class="col-12 col-md-8 d-flex align-items-center">
     <div class="col-4">
    <div class="product-title">{{item.name}}</div>
    <div class="product-price">{{item.price}}</div>
      <div class="quantity">Quantity:</div>
    <input type="number" value="{item.quantity}}" min="1">
      <div><button (click)="RemoveItem(item)" class=" btn btn-danger">Remove</button></div>
       <div><button class=" btn btn-warning" (click)="onBuy(item.id)">Place Order</button></div>
      <br>
   </div>
 </div>
</div>
</div>
</div>
</div>
</ng-container>

<br>

 <br> -->
 <!-- <div class="container">
   <div class="row">
     <div class="col-12 col-md-10 d-flex justify-content-center">
       <div class="card"style="width:30em;">
         <div class="totals">
           <div class="totals-item">
             <label>Shipping:</label>
             <div class="totals-value" id="cart-shipping">Rs. 15.00</div>
           </div>
           <div class="totals-item totals-item-total">
             <label>Grand Total:</label>
             <div class="totals-value" id="cart-total">Rs. {{Total}}</div>
           </div>
         </div>     
             <button class="btn btn-primary">Buy Now</button>
       </div> -->
       <!-- <div class="center"><h5>Your Cart is Empty</h5></div> -->
     <!-- </div> -->
   <!-- </div> -->
 <!-- </div> -->
<!-- </div>
</div>
</ng-container> -->

<!-- <ng-container *ngIf="cartItems.length==0">
 <div class="container">
   <div class="card">
      <div class="center">
        <h5>Your Cart is Empty Now</h5> 
       </div>
     </div>
   </div>
 </ng-container> -->


 <div class="cart col-11 col-md-10 col-lg-8" style="margin: auto;">
  <div id="card-style" class="card mb-3" style="max-width: 100%;" *ngFor="let i of cartItems">
      <div class="row g-0">
        <div class="col-md-4">
            <div class="container">
              <img id="img-cart" class="img-fluid" src="{{i.imageUrl}}" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-text">{{i.name}}</h5>
            <p class="card-title">Price:-{{i.price}}</p>
            <p class="card-text">Offer: {{i.discount}}%</p>
            <!-- <p class="card-text">{{i.date}}</p> -->
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>

          <a  (click)="onBuy(i) "class="btn btn-primary" style="margin-right: 10px;">Place Order</a>
          <a  (click)="RemoveItem(i) "class="btn btn-danger">Remove</a>


        </div>
      </div>
    </div>
    
  </div>


<app-footer></app-footer>