<div class="heading">
    <h1>My Order</h1>
    </div>
<div class="container order-status">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </div>
   <table>
       <tr>
           <th>Product</th>
           <th>Order Status</th>
           <th>Date</th>
       </tr>
       <tr>
           <td>
               <div class= "product-info">
                   <img src="..//..//assets/img/jeans.jpg">
                   <div>
                       <p>Jeans</p>
                       <p>Price:$1500</p>
                   </div>
               </div>
           </td>
           <td>Delivered</td>
           <td>20th october 2019</td>  
       </tr>
       <tr>
        <td>
            <div class= "product-info">
                <img src="..//..//assets/img/shirt.jpg">
                <div>
                    <p>Shirt</p>
                    <p>Price:$2500</p>
                </div>
            </div>
        </td>
        <td>Delivered</td>
        <td>17th March 2021</td>    
    </tr>
    <tr>
        <td>
            <div class= "product-info">
                <img src="..//..//assets/img/jacket.jpeg">
                <div>
                    <p>Jacket</p>
                    <p>Price:$2000</p>
                </div>
            </div>
        </td>
        <td>Delivered</td>
        <td>8th July 2021</td>
    </tr>
   </table>     
</div>
