<div class="heading">
    <h1>My Order</h1>
    </div>
<div class="container order-status">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </div>
      <table>
        <tr>
            <th>Address</th>
            <th>Price</th>
            <th>Date</th>
            <th>OrderStatus</th>
        </tr>
        <tr *ngFor="let i of products">
            <td><p>{{i.address}}</p></td>
            <td><p>{{i.price}}</p></td>
            <td><p>{{i.date}}</p></td>
            <td><p>{{i.status}}</p></td>
        </tr>
      </table>
</div>
