
.item-list{
    margin:auto;
    max-width:1080px;
    padding-left: 25px;
    padding-right: 25px;
}
img{
    width:200px;
    height:200px;
    
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width:200px;
    margin-bottom: 50px;
    
}
p{
    color:green; 
}
.item-info{
    text-align: center;
}
.dropdown{
    display:flex;
} 