<div class="heading" style="color:white; background-color: orangered;height:70px">
    <h1>{{category}}</h1>
</div>
<div class="container item-list">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </div>
    <div class="row">
        <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>
       <div class="col-4">     
        <img src="..//..//assets/img/jeans.jpg">
        <div class="cc">
        <h4>Jeans</h4>
        <h4>$1500</h4>
        <p>45% off </p>
        <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
       </div>   
</div>