<div class="heading" style="color:white; background-color: orangered;height:70px">
    <h1>Item Collections </h1>
</div>
<div class="container item-list">
  
    <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Ascending</a>
          <a class="dropdown-item" href="#">Descending</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Price</a>
            <a class="dropdown-item" href="#">Category</a>
          </div>
      </div>

    <div class="row">
       <ng-container *ngFor="let i of products">
           <div class="card col-md-4">
               <img src="{{i.img}}">
               <p><strong>{{i.name}}</strong></p>
               <p><strong>{{i.price}}</strong></p>
               <p><strong>>{{i.discount}}</strong></p>
               
           </div>
       </ng-container>
</div>