<div class="container">
    <div class="row d-flex justify-content-center" style="padding-top:3vh;">
        <div class="col-12 col-md-5 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form class="addform p-1 d-flex flex-column justify-content-center">
                        <div class="form-group p-1">
                          <label for="addproduct" class="p-2">Product Name</label>
                          <input type="string" class="form-control"  placeholder="Enter product name">
                        </div>
                        <div class="form-group p-1">
                          <label for="price" class="p-2">Price</label>
                          <input type="number" class="form-control"  placeholder="Enter price">
                        </div>
                        <div class="form-group p-1">
                            <label for="discount" class="p-2">Discount</label>
                            <input type="string" class="form-control"  placeholder="Enter discount">
                          </div>
                        <br>
                        <button type="submit" class="btn btn-primary" (click)="Additem()" style="width: 100px; margin: auto;">Submit</button>
                    </form>
                </div>
              </div>
        </div>
        <!-- <div class="row " style="padding-top:3vh;">
            <button type="submit" class="btn btn-outline-secondary" style="width:max-content; margin: auto;" (click)="onSignUp()">Create an account</button>

        </div> -->

    </div>

</div>

