@media only screen and (max-width: 600px){
      form{
        align-items: center;
        justify-content: center;
      }
      .container{
        background-color: cadetblue;

      }
      .formcontrol{
         padding-left: 25px;
         justify-content: center;
      }
      .card{
        justify-content: center;
      }
      .content{
        align-items: center;
      }
      .div.content{
        align-items: center;
        align-content: center;
        
      }
      .loginform{
        align-content: center;
        width: 10px;
      }
}
