<div class="row d-flex justify-content-center" style="padding-top:3vh;">
  <div class="col-12 col-md-5 col-lg-6">
      <div class="card">
          <div class="card-body">

<form [formGroup]="addForm"class="p-1 d-flex flex-column justify-content-center">
  <div class="mt-5">
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-group">
          <label >Product Name </label>
        </div>
        <div class="form-row">
            <div class="col">
              <input type="text" formControlName="name" class="form-control" placeholder="enter product name">
            </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label > Price </label>
        </div>
        <div class="form-row">
            <div class="col">
              <input type="number" formControlName="price" class="form-control" placeholder="enter price">
            </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label > Discount </label>
        </div>
        <div class="form-row">
            <div class="col">
              <input type="number" formControlName="ContactNo" class="form-control" placeholder="enter discount">
            </div>
        </div>
      <br>
      <div class="form-row mt-4">
        <div class="col-md-6">
          <button type="button" class="btn btn-primary" (click)="AddItem()">Submit</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>
</div>
      </div>
      </div>
      
</div>

